body {
  background-image: url("taxi_image_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  padding: 10px 10px;
  margin: 5px 0px;
  border: 2px solid yellow;
  border-radius: 8px;
}

input[type=text] {
  width: 50%;
}

h1 {
  text-align: center;
  color: yellow;
  text-shadow: 1px 1px blue;
  font-size: 50px;
}

* {
  font-family: tahoma, helvetica, arial, sans-serif;
}

.button {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
}

.smallbutton {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

.leftbutton {
  float: left;
  margin-left: 100px;
}

.rightbutton {
  float: right;
  margin-right: 100px;
}

.button:hover, .smallbutton:hover {
  background-color: black;
  color: white;
}

.centerbutton {
  position: absolute;
  left: 40%;
}

.text_body {
  color: black;
}
